.container {
    margin: auto;
    margin-top: 4rem;
    width: 80%; 
  }
  
  .text-4xl {
    font-size: 2.25rem;
  }
  
  .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0.5rem;
    width: 20%; 
    background-color: #FFECB3;
  }
  
  .cart-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .cart-info {
    text-align: center;
  }
  
  .titulo {
    padding-top: 10px;
    font-size: 2.5rem;
    color: rgb(185, 212, 212);
  }
  
  .nombreProducto{
    font-size: 20px;
  }
  hr {
    width: 80%;
    margin: 0.5rem auto;
  }
  
  p {
    margin: 0.5rem 0;
  }
  