.container {
    margin: auto;
    margin-top: 4rem;
    width: 80%; /* Ajusta según tus necesidades */
  }
  
  .text-4xl {
    font-size: 2.25rem;
  }
  
  .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0.5rem;
    width: 30%; /* Ajusta según tus necesidades */
  }
  
  .cart-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .cart-info {
    text-align: center;
  }
  
  .titulo {
    font-size: 1.5rem;
    color: rgb(121, 20, 13);
  }
  
  hr {
    width: 80%;
    margin: 0.5rem auto;
  }
  
  p {
    margin: 0.5rem 0;
  }
  