

div {
    text-align: center;
    margin-top: 20px;
  }
  
  .boton {
    padding: 10px 20px;
    font-size: 12px;
    background-color: #e70d20;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
   button:hover {
    background-color: #7f1d1d;
  }
  
   hr {
    border-color: #7f1d1d;
    margin-top: 20px;
  }
  